body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(170 231 170);
}

a.active {
  color: green;
  font-weight: bold;
}
